<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CND Waste Management</display-name>
  <welcome-file-list>
    <welcome-file>userlogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.cnd.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicle</display-name>
    <servlet-name>AddVehicle</servlet-name>
    <servlet-class>com.cnd.admin.AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicle</servlet-name>
    <url-pattern>/AddVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelSpecific</display-name>
    <servlet-name>DelSpecific</servlet-name>
    <servlet-class>com.cnd.admin.DelSpecific</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelSpecific</servlet-name>
    <url-pattern>/DelSpecific</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSpec</display-name>
    <servlet-name>UpdateSpec</servlet-name>
    <servlet-class>com.cnd.admin.UpdateSpec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSpec</servlet-name>
    <url-pattern>/UpdateSpec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.cnd.user.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.cnd.user.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RCNDrequest</display-name>
    <servlet-name>RCNDrequest</servlet-name>
    <servlet-class>com.cnd.user.RCNDrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RCNDrequest</servlet-name>
    <url-pattern>/RCNDrequest</url-pattern>
  </servlet-mapping>
</web-app>